<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-parallax dark src="/head.jpg">
          <h1 class="text-h1 font-weight-thin mt-8">Welcome</h1>
          <h4 class="subheading ml-2">GDPR.DEV study tool</h4>
        </v-parallax>
        <v-system-bar></v-system-bar>
        <v-container fluid>
          <v-row>
            <v-col cols="12">
              <v-row>
                <v-col cols="12" md="5" sm="12">
                  <v-card style="border-radius: 30px;" class="mb-5">
                    <v-container style="padding: 30px;">
                      <h2 class="text-h5 deep-purple--text text--darken-3 text-uppercase"
                        style="margin-bottom: 10px; font-weight: bold;">What is this ?</h2>
                      <p>This is the web front application that is dedicated to help you to create an anonymized extract
                        of
                        the data sent you received from the data controllers you asked your data from.</p>
                      <p>Please note that these extraction and anonymization processings are going to be ran in your web
                        browser.</p>
                      <p>This means that we do not, and will never, access to your data at all. :)</p>
                      <h2 class="text-h5 deep-purple--text text--darken-3 text-uppercase"
                        style="margin-bottom: 10px; font-weight: bold;">What are you supposed to do ?</h2>
                      <p>As you already know, the study you accepted to take part to is aiming at creating an index
                        of data one can receive when a person ask for the portability of her / his data. Therefore, our
                        legal team will
                        analyze the answers and will write a report that will be published by the end of november 2020.
                      </p>
                      <p>In order to get an extract dataset of the kind of informations that were sent to you, we
                        previously need you to erase your personal informations
                        from these data files that the data controllers sent to you in the frame of this study. To do
                        so,
                        you can use the tool located next to this text.
                        The first information we need is the identification of the data controllers that your data came
                        from. The second required kind of informations is simply the file or the content of the file
                        that
                        these
                        data controllers sent to you.
                      </p>
                      <p>After having filled the fields of this tool, you just have to click on "Generate anonymized
                        data
                        file"</p>
                      <p>You will then see a result that you'll be able to send us by email to your usal personal
                        account
                        manager.</p>
                      <p>And that's it !</p>
                      <p>Please, feel free to re-iterate this operation for each file you received.</p>
                      <p>If you have any question, please contact your usual personal account manager.</p>
                      <p>Thank you again for taking part to this study. Together, we're stronger.</p>
                    </v-container>
                  </v-card>
                </v-col>
                <v-col cols="12" sm="12" md="7">
                  <v-container style="padding-top: 0px">
                    <v-stepper style="border-radius: 30px;" v-model="e1">
                      <v-stepper-header>
                        <v-stepper-step color="deep-purple darken-4" :complete="e1 > 1" step="1">Select your file type
                        </v-stepper-step>
                        <v-divider></v-divider>
                        <v-stepper-step color="deep-purple darken-4" :complete="e1 > 2" step="2">Fill informations
                        </v-stepper-step>
                        <v-divider></v-divider>
                        <v-stepper-step color="deep-purple darken-4" :complete="e1 > 3" step="3">Generate the anonymized
                          extract</v-stepper-step>
                        <v-divider></v-divider>
                        <v-stepper-step color="deep-purple darken-4" :complete="e1 > 3" step="4">Download
                        </v-stepper-step>
                      </v-stepper-header>
                      <v-stepper-items>
                        <v-stepper-content step="1">
                          <v-card class="mb-12" style="border-radius: 30px;" color="grey lighten-4" min-height="200px">
                            <v-container>
                              <h3 class="mt-3 deep-purple--text title">Please, select below the format of the file that
                                contains your data</h3>
                              <v-select class="mt-8" color="deep-purple" label="Select a format" :items="formats"
                                return-object v-model="selectedFormat">
                              </v-select>
                              <p class="font-weight-light" style="font-size: small;">Once you'll have made your choice,
                                please click on "Continue".</p>
                            </v-container>
                          </v-card>
                          <v-btn v-if="selectedFormat" color="deep-purple darken-3" dark rounded @click="e1 = 2">
                            Continue
                          </v-btn>
                        </v-stepper-content>
                        <v-stepper-content step="2">
                          <v-row>
                            <v-col cols="12" sm="12" md="6">
                              <v-card class="mb-12" style="border-radius: 30px;" color="grey lighten-4"
                                min-height="200px">
                                <v-container>
                                  <h3 class="mt-3 deep-purple--text title">Data and details</h3>
                                  <v-text-field color="deep-purple" class="mt-3"
                                    label="Name of the data controllers who sent you this data"
                                    v-model="dataController">
                                  </v-text-field>
                                  <v-file-input :clearable="false" @change="testFile" color="deep-purple"
                                    label="Load your data file" v-model="bruteDataFile">
                                  </v-file-input>
                                  <p class="font-weight-light" style="font-size: small;">Once you'll have fulfilled
                                    theses
                                    fields,
                                    please click on "Continue".</p>
                                  <v-btn v-if="dataController && bruteDataFile && fileFormatIsValid"
                                    color="deep-purple darken-3" dark rounded @click="anonymizeFileText">
                                    Continue
                                  </v-btn>
                                  <v-btn @click="e1 = 1" text>Back</v-btn>
                                </v-container>
                              </v-card>
                            </v-col>
                            <v-col cols="12" sm="12" md="6">
                              <v-card class="mb-12" style="border-radius: 30px;" color="grey lighten-4"
                                min-height="200px">
                                <v-container>
                                  <h3 class="mt-3 deep-purple--text title">Initial content of your file</h3>
                                  <v-card style="border-radius: 30px;" min-height="185px" color="white">
                                    <v-container>
                                      <p v-if="!fileText" class="mt-4">
                                        A preview of your data will be displayed in this frame.
                                      </p>
                                      <div v-else class="mt-4">
                                        <v-row v-if="previewLoading" justify="center" align="center">
                                          <h4 class="title text-center deep-purple--text">The preview of your data is
                                            loading, please wait.</h4>
                                          <v-progress-circular size="70" indeterminate color="deep-purple">
                                          </v-progress-circular>
                                        </v-row>
                                        <p v-if="previewLoading == false">{{fileText}}</p>
                                      </div>
                                    </v-container>
                                  </v-card>
                                </v-container>
                              </v-card>
                            </v-col>
                          </v-row>
                        </v-stepper-content>
                        <v-stepper-content step="3">
                          <v-card class="mb-12" style="border-radius: 30px;" color="grey lighten-4" min-height="200px">
                            <v-row justify="center" align="center">
                              <v-col style="margin-top: 20px;" cols="12" sm="12">
                                <h4 class="title text-center deep-purple--text">Your data is being scraped and
                                  anonymized ...</h4>
                                <h4 class="title text-center deep-purple--text">Please wait, this process can take few
                                  minutes in some cases.</h4>
                              </v-col>
                              <v-progress-circular size="70" indeterminate color="deep-purple"></v-progress-circular>
                            </v-row>
                          </v-card>
                        </v-stepper-content>
                        <v-stepper-content step="4">
                          <v-card class="mb-12" style="border-radius: 30px;" color="grey lighten-4" min-height="200px">
                            <v-row justify="center" align="center">
                              <v-container style="padding:40px;">
                                <h3 class="text-h4 text-center deep-purple--text darken-3">Congratulations ! </h3>
                                <h5 class="text-h6 text-center">Your data is now cleaned and anonymized. This data can
                                  not be used to identify you anymore.</h5>
                                <h5 class="text-h6 text-center">The final action that is needed from you is to send us
                                  this data.</h6>
                                  <p class="font-weight-light text-center" style="font-size: large;">To do so, please
                                    click on the button, just below this text, to download your data in a file that you
                                    will be able to manually send to us by email (your usual legal team member contact
                                    should be the
                                    recipient of that email).
                                    Thank you again for taking part to this study ! :)
                                  </p>
                                  <v-row justify="center" align="center">
                                    <v-col cols="12" sm="12" md="4" class="text-center">
                                      <v-btn dark color="deep-purple" id="downloadBtn" @click="downloadFile">
                                        Download my data
                                      </v-btn>
                                    </v-col>
                                  </v-row>
                            </v-row>
                          </v-card>
                          <v-btn color="deep-purple darken-3" dark checkrounded @click="reset">
                            Continue with another file
                          </v-btn>
                          <v-btn text>Thank you</v-btn>
                        </v-stepper-content>
                      </v-stepper-items>
                    </v-stepper>
                  </v-container>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    let myglobal = null;
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        selectedFormat: null,
        formats: [
          "json",
          "csv",
          "xml"
        ],
        dataController: null,
        bruteDataFile: null,
        fileFormatIsValid: false,
        fileText: null,
        e1: 1,
        loading: false,
        previewLoading: false,
        fileToDownload: null,
      },
      methods: {
        reset() {
          this.selectedFormat = null;
          this.bruteDataFile = null;
          this.fileFormatIsValid = false;
          this.fileText = null;
          this.loading = false;
          this.previewLoading = false;
          this.fileToDownload = null;
          this.dataController = null;
          this.e1 = 1
          let link = document.getElementById("linkToFile");
          link.remove();
        },
        setFile(entry) {
          let testText = null;
          if (this.selectedFormat == "json") {
            try {
              testText = JSON.parse(entry);
              this.fileText = entry;
              this.fileFormatIsValid = true;
            } catch (e) {
              this.fileText = "Sorry, your file doesn't appear to be valid JSON data.";
              this.fileFormatIsValid = false;
            }
          } else if (this.selectedFormat == "csv") {
            // more to come
          } else if (this.selectedFormat == "xml") {
            // more to come
          } 
          setTimeout(() => this.previewLoading = false, 1500);
        },
        testFile() {
          const reader = new FileReader();
          this.previewLoading = true;
          let text = null;
          const vm = this; // useful trick from https://codepen.io/Atinux/pen/qOvawK/
          reader.onloadstart = function () {
            vm.previewLoading = true;
          };
          reader.onload = function () {
            text = reader.result;
          };
          reader.onloadend = function () {
            vm.setFile(text);
          };
          reader.readAsText(this.bruteDataFile);
        },
        anonymizeFileText() {
          this.e1 = 3;
          let parsedText;
          if (this.selectedFormat == 'json') {
            setTimeout(() => {
              parsedText = this.jsonParser(this.fileText);
              let recursive = (data) => {
                let result = data;
                for (const i in result) {
                  if (typeof result[i] == "object") {
                    recursive(result[i]);
                  } else {
                    result[i] = typeof result[i];
                  }
                }
                return result;
              };
              recursive(parsedText);
            }, 1500);
          }
          else {
            console.log("This is not handled by this web app for the moment. Please try again later.");
          }
          setTimeout(() => { this.e1 = 4; this.fileToDownload = parsedText; }, 1500);
        },
        jsonParser(jsonData) {
          let fileTextInJSON = JSON.parse(jsonData);
          return fileTextInJSON;
        },
        downloadFile() {
          let btn = document.getElementById('downloadBtn');
          let stringifiedData = JSON.stringify(this.fileToDownload);
          let link = document.createElement('a');
          let blob = new Blob([stringifiedData], { type: "application/json" });
          let url = URL.createObjectURL(blob);
          link.download = this.dataController + ".json";
          link.href = url;
          link.textContent = "Your data : " + this.dataController + ".json"
          link.id = "linkToFile"
          btn.insertAdjacentElement('afterend', link);
          link.style = "display: block; color: #4527a0;"
          link.click()
        },
      },
    })
  </script>
</body>
</html>